html, body {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

span {
    margin: 20px;
}